<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>witam serdecznie</title>
        <meta name="description" content="powitanko">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script>
            $(':radio').change(function() {
                console.log('New star rating: ' + this.value);
                });
        </script>
    </head>
    <body>
        <div id="login">
            <h1>Movies recommender 2000</h1>
            <h3>Rate movies</h3>
            <form id='myform' method="post">
                {%for i in data%}
                <div class='wrapper'>
                    <div id='left'>
                        {{i[1]}}
                    </div>
                    <div id='right' class='rating'>
                        
                          <label>
                            <input type="radio" name={{i[0]}} value="1" />
                            <span class="icon">★</span>
                          </label>
                          <label>
                            <input type="radio" name={{i[0]}} value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                          </label>
                          <label>
                            <input type="radio" name={{i[0]}} value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>   
                          </label>
                          <label>
                            <input type="radio" name={{i[0]}} value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                          </label>
                          <label>
                            <input type="radio" name={{i[0]}} value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                          </label>
                        <br>
                    </div>
                </div>
                {%endfor%}
            
                <button type="submit" form='myform'>Show next 10 movies</button>
                </form>
        </div>
    </body>
</html>